<div>{{navItemTitle}}</div>

<div>
    <span>Name :</span>
    <span>{{details["Name"]}}</span>
</div>
<div>
    <span>Age :</span>
    <span>{{details["Age"]}}</span>
</div>
<div>
    <span>Location :</span>
    <span>{{details["Location"]}}</span>
</div>
<div>
    <span>Experience :</span>
    <span>{{details["Experience"]}}</span>
</div>
<div>
    <span>Degree :</span>
    <span>{{details["Degree"]}}</span>
</div>
<div>
    <span>Career Level :</span>
    <span>{{details["CareerLevel"]}}</span>
</div>
<div>
    <span>Phone :</span>
    <span>{{details["Phone"]}}</span>
</div>
<div>
    <span>Fax :</span>
    <span>{{details["Fax"]}}</span>
</div>
<div>
    <span>E-Mail: </span>
    <span>{{details["Email"]}}</span>
</div>
<div>
    <span>WEBSITE: </span>
    <span>{{details["Website"]}}</span>
</div>